.container {
    display: flex;
    align-items: center;
    gap : 1rem;
}

.container p {
  font-size: 1.4rem;
  color:  var(--primary-text-color);
  flex : 1;
}
.container img {
 width: 44px;
 height: 44px;
}

.containerOptions img {
  width: 24px;
  height: 24px;
}